﻿
@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
}

<div class="card col-md-5  shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
        <section class="resetpassword-section" style="padding:20px">
            <p style="text-align:center">
                <h5>Please check your email to reset your password</h5>
            </p>
            <h5><a href="@Url.Action("LoginUser", "Account", new { })">Back to login page</a></h5>
        </section>

    </div>
</div>




