﻿@model FMS.Core.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
}

<div class="card col-md-5 shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
        @*<div class="loginHeader">
            <img class="inheritWidth" src="~/Content/imgs/FMSdxp_header_teal.png" />
        </div>*@

        @using (Html.BeginForm("ForgotUserPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Parameter)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-label-group mb-4">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>



            <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>

            <p class="mt-5 mb-3 text-muted text-center">
                @Html.ActionLink("Back to Login", "LoginUser", "Account")
            </p>
        }


    </div>
</div>


