﻿@model FMS.Core.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <!-- card-header -->
    <div class="card-header">
        <div class="row">
            <div class="col">
                <span class="h5 border-right-1 pr-2 marketing-header"><i class="icon-truck-fast"></i>Forgot Password</span>
            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <!-- card-body -->
    <form method="post"
          id="frmAddNewForgotPassword"
          data-clear-form="false"
          data-post-type='ajax'
          action="/account/addforgotpassword"
          data-success-method="ForgotPasswordViewModel.updateForgotPasswordSuccess">
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Email)
        @Html.HiddenFor(x => x.IsDeleted)
        @Html.HiddenFor(x => x.IsActive)

        @Html.HiddenFor(x => x.IsReadMode)
        <div class="card-body">
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">New Password</label>
                <div class="form-label-group mb-4 col-sm-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Confirm Password</label>
                <div class="form-label-group mb-4 col-sm-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" id="btnResetForgotPassWord" class="btn btn-primary float-right mb-3">Reset</button>
        </div>

    </form>

    <!-- /.card-body -->
</div>

<!-- /.content -->
<!-- #endregion -->
<!-- #region scripts -->
@section Scripts{
    <script src="~/Scripts/ForgotPassword/ForgotPasswordViewModel.js"></script>
    <script>
        PostData("/account/getuserpermission?path=" + current_path + "&userRoles=" + current_role, ForgotPasswordViewModel.ForgotPasswordListView);
    </script>

}

<!-- #endregion -->
