﻿@model FMS.Core.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
}

<div class="card col-md-5 shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
        <div class="loginHeader">
            @*<img class="inheritWidth" src="~/Content/imgs/FMSdxp_header_teal.png" />*@
        </div>
        @if (TempData["UserError"] != "")
        {
            <div style="text-align: center;color: red;" class="mb-2">
                <span>@TempData["UserError"]</span>
            </div>
        }

        @using (Html.BeginForm("LoginUser", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-label-group mb-4">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email Address" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-label-group mb-4">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        }

    <h5><a href="@Url.Action("ForgotPassword", "Account", new { Model.Email })">Forgotten your password?</a></h5>
    </div>
</div>


