﻿
@{
    ViewBag.Title = "Register Confirmation";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
}

<div class="card col-md-5  shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
        <!--<div class="loginHeader">-->
        @*<img class="inheritWidth" src="~/Content/imgs/FMSdxp_header_teal.png" />*@
        <!--</div>-->
        <section class="resetpassword-section" style="padding:20px">
            <p style="text-align:center">
                <h5>@ViewBag.Message.</h5>
            </p>
        </section>

    </div>
</div>

