﻿@model FMS.Core.Models.RegisterViewModel
@{
    ViewBag.Title = "Register User";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
}

<div class="card col-md-5 shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
        @*<div class="loginHeader">
            <img class="inheritWidth" src="~/Content/imgs/FMSdxp_header_teal.png" />
        </div>*@
        @if (TempData["UserError"] != "")
        {
            <div style="text-align: center;color: red;" class="mb-2">
                <span>@TempData["UserError"]</span>
            </div>
        }
    <form action="/Account/RegisterUser/" class="form-horizontal" method="post" role="form">
        @Html.HiddenFor(x => x.OwnerId)
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-label-group mb-4">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name" })
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
        </div>
        <div class="form-label-group mb-4">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name" })
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
        </div>
        <div class="form-label-group mb-4">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email Address" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-label-group mb-4">
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @placeholder = "Phone Number" })
            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
        </div>
        <div class="form-label-group mb-4">
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "Address" })
            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

        <p class="mt-5 mb-3 text-muted text-center d-flex justify-content-between">
            @Html.ActionLink("Have Account? Login", "LoginUser", "Account")
        </p>
    </form>
    </div>
</div>

