﻿@model FMS.Core.Models.ResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
}

<div class="card col-md-5 shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
        @*<div class="loginHeader">
            <img class="inheritWidth" src="~/Content/imgs/FMSdxp_header_teal.png" />
        </div>*@
        @using (Html.BeginForm("ResetUserPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Code)
            @Html.HiddenFor(model => model.UserType)
            @Html.HiddenFor(model => model.Email)
            <div class="form-label-group mb-4">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="form-label-group mb-4">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>


            <p class="mt-5 mb-3 text-muted text-center">
                @Html.ActionLink("Back to Login", "LoginUser", "Account")
            </p>
        }
    </div>
</div>



