﻿
@{
    ViewBag.Title = "Password Change Confirmation";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
}
<div class="card col-md-5  shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
        <section id="loginForm" class="resetpassword-section" style="padding:20px">
            <p style="text-align:center">
                @if (ViewBag.Message == "Successfully")
                {
                    <h5>Your email is verified. Now you can <a href="@Url.Action("LoginUser", "Account", new { })">login</a></h5>
                }
                else
                {
                    <h5>Something went worng! Please try again</h5>
                    <h5>Back to <a href="@Url.Action("LoginUser", "Account", new { })">login page</a></h5>
                }
            </p>
        </section>
    </div>
</div>