﻿@model FMS.Core.Models.ResetPasswordViewModel
@{
    Layout = null;
    ViewBag.Title = "Reset password";
    var data = Model.Password;
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/modernizr")
<!-- Custom styles for this template -->
@Styles.Render("~/Content/css/fmsUI")
<link href="~/Content/images/favicon-3.png" rel="shortcut icon" type="image/x-icon" />

<body>
    <div class="d-flex align-itFMS-center bd-highlight vh-100">
        <div class="box w-100 d-flex justify-content-center">

            <div class="card col-md-5 shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    @*<div class="loginHeader">
                            <img class="inheritWidth" src="~/Content/imgs/FMSdxp_header_teal.png" />

                        </div>*@
                    <div style="text-align: center;color: red;" class="mb-2">
                        <span></span>
                    </div>

                    @using (Html.BeginForm("ResetUserAccessPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.HiddenFor(p => p.Code);
                        @Html.AntiForgeryToken()

                        <h4 class="modal-title text-center  font-weight-bold mb-4">SET YOUR PASSWORD</h4>
                        @Html.HiddenFor(model => model.Code)
                        @Html.HiddenFor(model => model.UserType)
                        @Html.HiddenFor(model => model.Email)

                        <div class="form-group marginTop-20">
                            <div class="col-md-12">
                                <label>Password <span class="text-required"> *</span></label>
                            </div>
                            <div class="col-md-12">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Confirm Password <span class="text-required"> *</span></label>
                            </div>
                            <div class="col-md-12">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Enter Confirm Password" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div> if (TempData["UserError"] != "")
                        {
                            <div class="form-group errorMessage">
                                <div class="col-md-12">
                                    <span>@TempData["UserError"]</span>
                                </div>
                            </div> }
                        <div class="form-group">
                            <div>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
                            </div>
                        </div>}

                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
