﻿@{
    string profileImageUrl = FMS.App_Start.FMSConfigurationManager.PortalUrl + "/Content/imgs/profile-icon.png";
    var userId = FMS.App_Start.SessionHelper.UserId;

    if (!string.IsNullOrEmpty(userId))
    {
        var userDetail = FMS.Services.Classes.UserManager.GetUserDetail(Convert.ToInt32(userId));
        if (userDetail != null && !string.IsNullOrEmpty(userDetail.ProfilePic))
        {
            profileImageUrl = userDetail.ProfilePic;
        }
    }
    var subscriptionDetail = FMS.Services.Classes.SubscriptionManager.IsStoreFreeTrialAndSubscriptionExpire(Convert.ToInt32(userId));
    var userRole = FMS.Services.Classes.RoleManager.GetUserRoleByUserId(Convert.ToInt32(userId));


}

<!-- navbar -->

<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light">
    <!-- Collapse button -->
    <button class="navbar-toggler ml-auto mt-2" type="button" data-toggle="collapse" data-target="#basicExampleNav1"
            aria-controls="basicExampleNav1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse mt-2" id="basicExampleNav1">
        <div class="navbar-nav ml-auto"></div>

        <!-- notification -->
        @if (userRole != null)
        {
            if (userRole.RoleName == FMS.Core.Enums.UserRole.Trainee.ToString())
            {
                if (subscriptionDetail != null)
                {
                    if (subscriptionDetail.DefaultSubscriptionExpirationDays  < 5)
                    {
                        <ul class="nav navbar-nav navbar-right notification-badge float-right">
                            <li>
                                <span class="padding-5">Your trial will expire in <span class="badge badge-nav-danger">@subscriptionDetail.RemainingSubscriptionExpirationDays</span> days <a href="@Url.Action("/index")" class="badge badge-nav-danger padding-5">view pricing options</a> </span>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right notification-badge float-right">
                            @if (subscriptionDetail.RemainingSubscriptionExpirationDays > 5 && subscriptionDetail.RemainingSubscriptionExpirationDays < 30 && !subscriptionDetail.IsActive)
                            {
                                <li>
                                    <span class="padding-5">Your trial will expire in <span class="badge badge-nav">@subscriptionDetail.RemainingSubscriptionExpirationDays</span> days <a href="@Url.Action("/index")" class="badge badge-nav padding-5">view pricing options</a> </span>
                                </li>
                            }
                            @*else if (subscriptionDetail.RemainingSubscriptionExpirationDays >= 0 && subscriptionDetail.RemainingSubscriptionExpirationDays <= 5 && !subscriptionDetail.IsActive)
                            {
                                <li>
                                    <span class="padding-5">Your trial will expire in <span class="badge badge-nav-danger">@subscriptionDetail.RemainingSubscriptionExpirationDays</span> days <a href="@Url.Action("subscription/index")" class="badge badge-nav-danger padding-5">view pricing options</a> </span>
                                </li>
                            }*@
                            else if (subscriptionDetail.RemainingSubscriptionExpirationDays < 0 && !subscriptionDetail.IsActive)
                            {
                                <li>
                                    <span class="padding-5">Your subscription has expired by <span class="badge badge-nav-danger">@subscriptionDetail.RemainingSubscriptionExpirationDays</span> days <a href="@Url.Action("/index")" class="badge badge-nav-danger padding-5">view pricing options</a> </span>
                                </li>
                            }
                            @*else if (!subscriptionDetail.IsActive)
                            {
                                <li>
                                    <span class="padding-5"><a href="@Url.Action("subscription/index")" class="badge badge-nav padding-5">view pricing options</a> </span>
                                </li>
                            }*@

                        </ul>
                    }

                }
            }
        }
        else
        {
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#!" class="nav-link navbar-link-2 waves-effect">
                        <i class="far fa-bell fa-2x"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect p-0" id="navbarDropdownMenuLink3" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="true">
                        <img id="UserProfileImage" src="@profileImageUrl" class="img-circle profile-img" alt="Cinque Terre">
                        @Session["Username"]
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="@Url.Action("Index", "Profile")">Profile Setting</a>
                        <a class="dropdown-item" href="#!">Another action</a>
                        <a class="dropdown-item" href="#!">Something else here</a>

                    </div>
                </li>

            </ul>
        }
        <!-- /notification -->
        <!-- Right -->


    </div>
    <!-- Links -->

</nav>
<!-- Navbar -->