﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FMS - @ViewBag.Title </title>
    <link href="~/Content/imgs/FMSdxp_icon_teal.png" rel="shortcut icon" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&amp;family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&amp;display=swap" rel="stylesheet">
    @{
        var portalUrl = FMS.App_Start.FMSConfigurationManager.PortalUrl;
        var basicInfo = new FMS.Core.Models.ClientBasicInfoViewModel();

        if (ViewBag.key != null)
        {
            basicInfo = FMS.Services.Classes.ClientBasicInfoManager.GetBasicInfosList(ViewBag.key);
        }

        var key = ViewBag.key;
    }
    @Styles.Render("~/bundles/landingPageStyle")
    <script>
          var baseUrl = '@portalUrl';
    </script>
</head>
<body>
    @if (ViewBag.IsKeyValid )
    {
        <div class="top-wrap">
            <div class="container-xl">
                <div class="row justify-/Content-end">
                    <div class="col-md topper d-flex align-items-xl-center">
                        <div class="text">
                            <a href="#">
                                <span class="icon fa fa-phone"></span>
                                @if (ViewBag.ClientInformation.Phone != null)
                                {
                                    <span class="text">@ViewBag.ClientInformation.Phone</span>
                                }
                            </a>
                        </div>
                    </div>
                    <div class="col-md topper d-flex align-items-xl-center justify-/Content-end">
                        <ul class="ftco-social">
                            @if (basicInfo != null && basicInfo.TwitterUrl != null)
                            {
                                <li><a href="@basicInfo.TwitterUrl" class="d-flex align-items-center justify-/Content-center"><span class="fab fa-twitter"></span></a></li>
                            }
                            @if (basicInfo != null && basicInfo.FacebookUrl != null)
                            {
                                <li><a href="@basicInfo.FacebookUrl" class="d-flex align-items-center justify-/Content-center"><span class="fab fa-facebook"></span></a></li>
                            }
                            @if (basicInfo != null && basicInfo.InstagramUrl != null)
                            {
                                <li><a href="@basicInfo.InstagramUrl" class="d-flex align-items-center justify-/Content-center"><span class="fab fa-instagram"></span></a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg  ftco-navbar-light">
            <div class="container-xl">
                <a class="navbar-brand d-flex align-items-center" href="@Url.Action("Index", "Home")">
                    <div class="icon d-flex align-items-center justify-/Content-center"><span class="fas fa-dumbbell"></span></div>
                    @if (basicInfo != null && !string.IsNullOrEmpty(basicInfo.Heading))
                    {
                        <span class="">@basicInfo.Heading <small> @basicInfo.SubHeading</small></span>
                    }
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupported" aria-controls="navbarSupported" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse border-top-custom" id="navbarSupported">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-lg-5">
                        <li class="nav-item"><a class="nav-link active" href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="nav-item"><a class="nav-link active" href="@Url.Action("ContactUs", "Landing" , new {SiteKey = ViewBag.ClientInformation.SiteKey})">Contact</a></li>
                    </ul>
                    <a class="btn-custom" href=@Url.Action("Register", "Account" ,new { clientId = key })>Become A Member</a>
                </div>
            </div>
        </nav>
    }

    @RenderBody()

    @if (ViewBag.IsKeyValid)
    {
        <footer class="ftco-footer">
            <div class="container-xl">
                <div class="row mb-5 pb-5 justify-content-between">
                    <div class="col-md-6 col-lg">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2 logo d-flex">
                                <a class="navbar-brand d-flex align-items-center" href="@Url.Action("Index", "Home")">
                                    <div class="icon d-flex align-items-center justify-content-center"><span class="fas fa-dumbbell"></span></div>
                                    @if (basicInfo != null)
                                    {
                                        <span class="">@basicInfo.Heading<small> @basicInfo.SubHeading</small></span>
                                    }
                                </a>
                            </h2>
                          
                            <ul class="ftco-footer-social list-unstyled mt-2">
                                @if (basicInfo != null && basicInfo.TwitterUrl != null)
                                {
                                    <li><a href="@basicInfo.TwitterUrl"><span class="fab fa-twitter"></span></a></li>
                                }
                                @if (basicInfo != null && basicInfo.FacebookUrl != null)
                                {
                                    <li><a href="@basicInfo.FacebookUrl"><span class="fab fa-facebook"></span></a></li>
                                }
                                @if (basicInfo != null && basicInfo.InstagramUrl != null)
                                {
                                    <li><a href="@basicInfo.InstagramUrl"><span class="fab fa-instagram"></span></a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2">Our Contacts</h2>
                            <div class="block-23 mb-3">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <span class="icon fa fa-home"></span>
                                            @if (ViewBag.ClientInformation.Address != null)
                                            {
                                                <span class="text">@ViewBag.ClientInformation.Address</span>
                                            }
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="icon fa fa-phone"></span>
                                            @if (ViewBag.ClientInformation.Phone != null)
                                            {
                                                <span class="text">@ViewBag.ClientInformation.Phone</span>
                                            }
                                        </a>
                                    </li>
                                    <li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text"><span class="__cf_email__" data-cfemail="e48d8a828ba49d8b9196808b89858d8aca878b89">@ViewBag.ClientInformation.Email</span></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="ftco-footer-widget mb-4">
                            <div class="row g-sm-2">
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <a href="#" class="img gallery" style="background-image: url(/Content/images/landing/xperson_1.jpg)"></a>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <a href="#" class="img gallery" style="background-image: url(/Content/images/landing/xgallery-2.jpg)"></a>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <a href="#" class="img gallery" style="background-image: url(/Content/images/landing/xgallery-3.jpg)"></a>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <a href="#" class="img gallery" style="background-image: url(/Content/images/landing/xgallery-4.jpg)"></a>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <a href="#" class="img gallery" style="background-image: url(/Content/images/landing/xgallery-5.jpg)"></a>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <a href="#" class="img gallery" style="background-image: url(/Content/images/landing/xgallery-6.jpg)"></a>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <a href="#" class="img gallery" style="background-image: url(/Content/images/landing/xgallery-7.jpg)"></a>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <a href="#" class="img gallery" style="background-image: url(/Content/images/landing/xgallery-8.jpg)"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid px-0 py-5 bg-darken">
                <div class="container-xl">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p class="mb-0" style="color: rgba(255,255,255,.5); font-size: 13px;">
                                Copyright &copy;
                                <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                                <script>document.write(new Date().getFullYear());</script> All rights reserved  <i class="fa fa-heart color-danger" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/landingPageScriptFile")
    @Scripts.Render("~/bundles/landingPageScript")
    @RenderSection("scripts", required: false)
</body>
</html>
