﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> FMS - @ViewBag.Title</title>
    <link href="~/Content/imgs/FMSdxp_icon_teal.png" rel="shortcut icon" type="image/x-icon" />
    @{
        var portalUrl = FMS.App_Start.FMSConfigurationManager.PortalUrl;
        string actionName = HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("action");
        string controllerName = HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("controller");
        string path = controllerName + "/" + actionName;
    }


    <script>

        var baseUrl = '@portalUrl';
        var current_path = '@path';
        var current_role = '@FMS.App_Start.SessionHelper.UserRoles';
    </script>

    @Styles.Render("~/Content/css/fmsUI")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="page-wrapper chiller-theme toggled">

        @Html.Partial("_SideNav", FMS.Services.Classes.FunctionManager.GetAll(FMS.App_Start.SessionHelper.UserRoles))
        @Html.Partial("_Header")
        <!-- sidebar-wrapper  -->
        <main class="page-content">
            <div class="container-fluid">
                @RenderBody()
                <footer class="text-center">
                </footer>
            </div>
        </main>
        <!-- page-content" -->
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/siteJs")
    @RenderSection("scripts", required: false)

    <div id="loader" class="modal loading" style="display: none">
        <div class="loaderImg">
            <img src="~/Content/images/blue-loader.gif" />
        </div>
    </div>
    <div id="common-modal-pop-up" class="modal" role="dialog">
    </div>
</body>
</html>
