﻿@model List<FMS.Core.Models.FunctionModel>

@{
    var portalUrl = FMS.App_Start.FMSConfigurationManager.PortalUrl;
    var storeInfo = FMS.Services.Classes.SubscriptionManager.GetUserSubscriptionDetail(1);
}
<style>
    body {
        background-image: none !important;
    }

    #header {
        padding: 0px !important;
    }

    @@media (max-width:320px) and (min-width:300px) {
        #multiple-navbar .navbar-right .dropdown {
            box-shadow: none !important;
        }

        #logo-group {
            width: 145px !important;
        }

        #main {
            position: relative;
            top: 0px !important;
            padding-top: 64px !important;
        }

        #left-panel {
            padding-top: 112px !important;
        }
    }

    @@media (max-width: 767px) and (min-width:321px) {
        #multiple-navbar .navbar-right .dropdown {
            box-shadow: none !important;
        }


        #main {
            position: relative;
            top: 0px !important;
            padding-top: 41px !important;
        }

        #left-panel {
            padding-top: 92px !important;
        }
    }

    @@media (max-width:1023px) and (min-width: 768px) {
        #main {
            position: relative !important;
            top: 0px !important;
            padding-top: 42px !important;
        }

        #left-panel {
            position: absolute !important;
            padding-top: 92px !important;
        }
    }
</style>

<ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
    <li class="">
        <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
            <img src="~/content/img/avatars/sunny.png" alt="John Doe" class="online" />
        </a>
        <ul class="dropdown-menu pull-right">
            <li>
                <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Setting</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> Profile</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <>S</>hortcut</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <>S</>creen</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="@Url.Action("login", "account")" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><>L</>ogout</strong></a>
            </li>
        </ul>
    </li>
</ul>

<!-- navbar -->
<section id="multiple-navbar">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>*@
            <ul class="list-inline hidden-md hidden-lg hidden-sm visible padding-right-10" style="float:right;">
                <li class="padding-left-5">
                    <div id="hide-menu" class="btn-header">
                        <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
                    </div>
                </li>
                <li class="padding-left-5">
                    <div id="logout" class="btn-header">
                        <span> <a href="@Url.Action("login", "account")" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i class="fa fa-sign-out"></i></a> </span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="collapse navbar-collapse col-12 bg-nav" id="bs-example-navbar-collapse-1">
                <!--<ul class="nav navbar-nav">
                    <li>
                        <a href="#">APM</a>
                    </li>
                    <li>
                        <a href="#">BROWSER</a>
                    </li>
                    <li>
                        <a href="#">SYNTHETICS</a>
                    </li>
                </ul> -->
                <ul class="nav navbar-nav navbar-right">
                    <li id="spinner">
                        <div class="ajax-loader margin-top-15 margin-right-10"></div>
                    </li>
                    <li class="hidden-xs visible">
                        <div id="hide-menu" class="btn-header">
                            <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
                        </div>
                    </li>
                    <li class="padding-left-10 padding-right-10 hidden-xs visible">
                        <div id="logout" class="btn-header">
                            <span> <a href="@Url.Action("login", "account")" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i class="fa fa-sign-out"></i></a> </span>
                        </div>
                    </li>
                    <!--show this to active user only /-->
                    <li class="padding-right-10">
                        <div id="storeConnect" class="padding-top-10">
                            <span><select id="cvConnectSelect" class="form-control" onchange="MainViewModel.SetCurrentStore()"></select></span>
                        </div>
                    </li>

                    @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="badge bg-color-red">6</span> <span class="fa-badge-icon"><i class="fa fa-angle-down"></i></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </li>*@
                </ul>
            </div>
            <div class="col-12 bg-nav-second">
                @if (Model != null && Model.Count > 0)
                {
                    for (int count = 0; count < Model.Count; count++)
                    {
                        <ul class="nav navbar-nav second-nav-border">
                            <li>
                                @if (!string.IsNullOrEmpty(Model[count].ParamName))
                                {
                                    <a href="@portalUrl/@Model[count].ControllerName/@Model[count].ActionName?@Model[count].ParamName=@Model[count].ParamValue">@Model[count].DomainText</a>
                                }
                                else
                                {
                                    <a href="@Url.Action(@Model[count].ActionName, @Model[count].ControllerName)">@Model[count].DomainText</a>
                                }
                            </li>
                        </ul>
                    }
                }
                else
                {
                    <ul class="nav navbar-nav">
                        <li>
                            <a href=""></a>
                        </li>
                    </ul>
                }

                <!-- notification -->
                @if (storeInfo != null)
                {
                    <ul class="nav navbar-nav navbar-right notification-badge float-right">
                        @if (storeInfo.PlanExpirationDateTime > 5 && storeInfo.PlanExpirationDateTime < 30 && !storeInfo.IsStoreHasActiveSubscription)
                        {
                            <li>
                                <span class="padding-5">Your trial will expire in <span class="badge badge-nav">@storeInfo.RemainingSubscriptionExpirationDays</span> days <a href="@Store.Library.StoreConfigurationManager.BakePortalUrl/index" class="badge badge-nav padding-5">view pricing options</a> </span>
                            </li>
                        }
                        else if (storeInfo.RemainingSubscriptionExpirationDays >= 0 && storeInfo.RemainingSubscriptionExpirationDays <= 5 && !storeInfo.IsStoreHasActiveSubscription)
                        {
                            <li>
                                <span class="padding-5">Your trial will expire in <span class="badge badge-nav-danger">@storeInfo.RemainingSubscriptionExpirationDays</span> days <a href="@Store.Library.StoreConfigurationManager.BakePortalUrl/index" class="badge badge-nav-danger padding-5">view pricing options</a> </span>
                            </li>
                        }
                        else if (storeInfo.RemainingSubscriptionExpirationDays < 0 && !storeInfo.IsStoreHasActiveSubscription)
                        {
                            <li>
                                <span class="padding-5">Your subscription has expired by <span class="badge badge-nav-danger">@storeInfo.RemainingSubscriptionExpirationDays</span> days <a href="@Store.Library.StoreConfigurationManager.BakePortalUrl/index" class="badge badge-nav-danger padding-5">view pricing options</a> </span>
                            </li>
                        }
                        else if (!storeInfo.IsStoreHasActiveSubscription)
                        {
                            <li>
                                <span class="padding-5"><a href="@portalUrl/index" class="badge badge-nav padding-5">view pricing options</a> </span>
                            </li>
                        }

                    </ul>
                }
                <!-- /notification -->
                <!-- help -->
                <!-- /help -->
            </div>
        </div>
    </div>
</section>
<!-- /navbar -->
