﻿@model FMS.Core.Models.DietPlanMealIngredientModel
@{

    Layout = null;

}
<div class="modal-dialog  modal-lg">
    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title marketing-header">@ViewBag.Header</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form method="post"
              id="frmAddNewClientMealIngredient"
              data-clear-form="false"
              data-post-type='ajax'
              action="/DietPlan/addMeal"
              data-success-method="IngredientsViewModel.updateClientMealIngredientSuccess">
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.MealId)
            @Html.HiddenFor(x => x.IsDeleted)
            <div class="card-body pl-5 pr-5">

                <div class="row">
                    <label for="Name">Name</label><span class="text-required"> *</span>
                    @Html.TextBoxFor(x => x.Ingredient, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.MealName, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <label for="Name">Unit</label><span class="text-required"> *</span>
                    @Html.TextBoxFor(x => x.Unit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Unit, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn ladda-button btn-primary" id="btnFrmClientMealSubmit" data-style="expand-right">Save</button>
                <button type="button" class=" btn btn-outline-primary" data-dismiss="modal">Close</button>
            </div>
        </form>

    </div>
</div>
<script src="~/Scripts/Diet/IngredientsViewModel.js" asp-append-version="true"></script>
<script>
    preventFormSubmitOnEnterPress();
</script>


