﻿@model FMS.Core.Models.DietModel
@{

    Layout = null;

}
<div class="modal-dialog  modal-lg">
    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title marketing-header">@ViewBag.Header</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form method="post"
              id="frmAddNewDiet"
              data-clear-form="false"
              data-post-type='ajax'
              action="/DietPlan/AddDiet"
              data-success-method="DietViewModel.updateDietSuccess">
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.IsDeleted)
            @Html.HiddenFor(x => x.IsReadMode)
            @Html.HiddenFor(x => x.UserId)
            <div class="card-body pl-5 pr-5">
                <div class="row">
                    <label for="Name">Diet Name</label><span class="text-required"> *</span>
                    @Html.TextBoxFor(x => x.DietName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.DietName, "", new { @class = "text-danger" })
                </div>

                <div class="row mt-2">
                    <div class="col">
                        @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-check-input" })
                        <label for="Name">Is Active</label>

                    </div>
                </div>
                
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn ladda-button btn-primary" id="btnfrmAddNewDiet" data-style="expand-right">Save</button>
                <button type="button" class=" btn btn-outline-primary" data-dismiss="modal">Close</button>
            </div>
        </form>

    </div>
</div>
<script src="~/Scripts/Diet/DietViewModel.js"></script>
<script>
    preventFormSubmitOnEnterPress();

    if ($("#IsReadMode").val() == "true" || $("#IsReadMode").val() == "True") {
        disabledFormInputs("frmAddNewDiet");
    }
</script>


