﻿@model FMS.Core.Models.DietPlanMealIngredientModel
@{

    Layout = null;

}

<div class="row meal-container">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body ">
                <div class="row">
                    <div class="col">
                        <span class="h5 border-right-1 pr-2">@Model.MealName</span>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <button type="button" class="btn btn-sm btn-primary" onclick="MealViewModel.addMealIngredient(this,@Model.MealId)"> <i class="fas fa-plus"></i> </button>
                        <button type="button" class="btn btn-sm btn-danger ml-1" onclick="MealViewModel.removeMeal(this, @Model.MealId)"><i class="fas fa-trash"></i></button>
                    </div>
                </div>
                <div class="card-body ingredient-section  p-0 p-sm-4">
                    @Html.Partial("_AddMealInputCtrl", Model)
                </div>

            </div>
        </div>
    </div>
</div>



