﻿@model FMS.Core.Models.DietPlanMealIngredientModel
@{
    Layout = null;
}
<form class="ingredient-form">
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.MealId)
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="Name">Ingredient</label><span class="text-required"> *</span>
            @Html.DropDownListFor(x => x.IngredientId, Model.Ingredients, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.IngredientId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-5">
            <label for="Name">Unit</label><span class="text-required"> *</span>
            @Html.TextBoxFor(x => x.Unit, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Unit, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-2 d-flex">
            <button type="button" class="btn btn-sm btn-danger align-self-end"  onclick="MealViewModel.removeMealIngredient(this, @Model.Id)"><i class="fas fa-trash"></i></button>
        </div>
    </div>
</form>
