﻿@model FMS.Core.Models.DietPlanMealModel
@using FMS.Services.Classes;
@{

    Layout = null;

}

<div class="row meal-container mb-1">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h5 border-right-1 pr-2">@Model.MealName</span>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <button type="button" class="btn btn-sm btn-primary" onclick="MealViewModel.addMealIngredient(this,@Model.Id)"> <i class="fas fa-plus"></i></button>
                        <button type="button" class="btn btn-sm btn-danger ml-1" onclick="MealViewModel.removeMeal(this, @Model.Id)"><i class="fas fa-trash"></i></button>
                    </div>
                </div>
                <div class="card-body  ingredient-section">
                    @{
                        var ingredients = DietPlanManager.GetIngredientsSelectList();
                        foreach (var data in Model.Ingredient)
                        {
                            data.Ingredients = ingredients;
                            Html.RenderPartial("_AddMealInputCtrl", data);
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>



