﻿
@{
    ViewBag.Title = "Meal Ingredients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/lib/fontawesome-free/css/fontawesome.min.css" rel="stylesheet" />
</head>
<div class="widget-group row">
    <div class="col-12">
        <div class="card">
            <!-- card-header -->
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <span class="h5 border-right-1 pr-2 marketing-header"><i class="icon-truck-fast"></i>Meal</span>
                    </div>
                    <div class="col col text-right">
                       <button class="btn btn-primary" id="btnAddClient" onclick="IngredientsViewModel.openClientMealIngredientModal('0',false)"> Meal <i class="fas fa-plus"></i> </button>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <!-- card-body -->
            <div class="card-body">



                <table id="tblMealIngredients" class="table table-bordered table-hover dt-responsive nowrap" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th data-class="expand">
                                <div class="table-header">
                                    <span class="column-title">Ingredient</span>
                                </div>
                            </th>
                            <th data-class="expand">
                                <div class="table-header">
                                    <span class="column-title">Unit</span>
                                </div>
                            </th>

                            <th width="30px">
                                <div class="table-header">
                                    <span class="column-title">Action</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>



            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

<!-- /.content -->
<!-- #endregion -->
<!-- #region scripts -->
@section Scripts
    {
    <script src="~/Scripts/Diet/IngredientsViewModel.js" asp-append-version="true"></script>
 
    <script>
        IngredientsViewModel.ClientMealsIngredientsListView(@ViewBag.MealId);      
    </script>
}
<!-- #endregion -->
