﻿@model List<FMS.Core.Models.DietPlanMealModel>

@{
    ViewBag.Title = "User Meals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/lib/fontawesome-free/css/fontawesome.min.css" rel="stylesheet" />
</head>
<div class="widget-group row">
    <div class="col-12">
        <div class="card border-0">
            <!-- card-header -->
            <div class="card-header border mb-1">
                <div class="row">
                    <div class="col">
                        <span class="h5 border-right-1 pr-2 marketing-header"><i class="icon-truck-fast"></i>Meals</span>
                    </div>
                    <div class="col col text-right">
                        <button class="btn btn-primary" id="btnAddClient" onclick="MealViewModel.addClientMeal(@ViewBag.DietId)"> Meal <i class="fas fa-plus"></i> </button>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <!-- card-body -->
            <div class="card-body p-0" id="mealsSection">
                @{
                    if (Model.Count > 0)
                    {
                        foreach (var data in Model)
                        {
                            @Html.Partial("_EditMeal", data)
                        }
                    }
                }
            </div>
            <div class="card-footer text-muted border">
                <button type="button" class="btn ladda-button btn-primary" data-style="expand-right" onclick="MealViewModel.saveMealIngredients(this)">Save</button>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

<!-- /.content -->
<!-- #endregion -->
<!-- #region scripts -->
@section Scripts
    {
    <script src="~/Scripts/Diet/MealViewModel.js" asp-append-version="true"></script>

    <script>
        MealViewModel.ClientMealsListView(@ViewBag.DietId);
    </script>
}
<!-- #endregion -->
