﻿@model FMS.Core.Models.UserModel
@{

    Layout = null;

}
<div class="modal-dialog  modal-lg">
    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title marketing-header">@ViewBag.Header</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form method="post"
              id="frmAddNewTrainee"
              data-clear-form="false"
              data-post-type='ajax'
              action="/trainee/add"
              data-success-method="TraineeViewModel.updateTraineeSuccess">
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.IsDeleted)
            @Html.HiddenFor(x => x.IsReadMode)
            <div class="card-body pl-5 pr-5">

                <div class="row">
                    <label for="Name">FirstName</label><span class="text-required"> *</span>
                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <label for="Name">LastName</label><span class="text-required"> *</span>
                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <label for="Name">Email</label><span class="text-required"> *</span>
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <label for="Name">Phone</label><span class="text-required"> *</span>
                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })

                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <label for="Name">Address</label><span class="text-required"> *</span>
                    @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <label for="Name">Type</label><span class="text-required">*</span>
                    @Html.EnumDropDownListFor(model => model.TypeId, " Please select user type", new { @class = "form-control required" })
                    @Html.ValidationMessageFor(m => m.TypeId, "", new { @class = "text-danger" })
                </div>


                @if (Model.Id > 0)
                {
                    <div class="row mt-2">
                        <label for="chkStatus">Active :</label>
                        <div class="col-sm-1">
                            @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-check-input text-box" })
                        </div>
                    </div>
                }
                else
                {
                    @Html.HiddenFor(x => x.IsActive)
                }
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn ladda-button btn-primary" id="btnFrmTraineeSubmit" data-style="expand-right">Save</button>
                <button type="button" class=" btn btn-outline-primary" data-dismiss="modal">Close</button>
            </div>
        </form>

    </div>
</div>
<script src="~/Scripts/Trainee/TraineeViewModel.js"></script>
<script>
    preventFormSubmitOnEnterPress();



    if ($("#IsReadMode").val() == "true" || $("#IsReadMode").val() == "True") {
        disabledFormInputs("frmAddNewTrainee");
    }
</script>


