﻿@model FMS.Core.Models.RoleModel
@{
    Layout = null;
}
<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title marketing-header">@ViewBag.Header</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form method="post"
              id="frmAddNewRole"
              data-clear-form="false"
              data-post-type='ajax'
              action="/role/add"
              data-success-method="RoleViewModel.updateRoleSuccess">
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.IsDeleted)

            @Html.HiddenFor(x => x.IsReadMode)
            <div class="card-body pl-5 pr-5">

                <div class="row mb-3">
                    <label for="Name">Role Name</label><span class="text-required"> *</span>
                    @Html.TextBoxFor(x => x.RoleName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.RoleName, "", new { @class = "text-danger" })
                </div>
                @if (Model.Id > 0)
                {
                    <div class="row mb-5">
                        <label for="chkStatus">Active :</label>
                        <div class="col-sm-1">
                            @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-check-input" })
                        </div>
                    </div>
                }
                else
                {
                    @Html.HiddenFor(x => x.IsActive)
                }

                @if (Model.LstFunction != null && Model.LstFunction.Count > 0)
                {
                    <div class="card">
                        <div class="card-header">
                            <h4>Permissions </h4>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Function</th>
                                        <th>Add</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                        <th>View</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @for (var index = 0; index < Model.LstFunction.Count; index++)
                                    {

                                        <tr>
                                            <td>@Model.LstFunction[index].Title</td>

                                            @Html.HiddenFor(x => x.LstFunction[index].Id)

                                            @if (Model.LstFunction[index].IsCreate)
                                            {
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="LstFunction[@index].IsCreate" value="true" checked />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" onchange="onChangeCheckBoxSelection(this)" name="LstFunction[@index].IsCreate" class="checkbox" value="false" />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
                                            }
                                            @if (Model.LstFunction[index].IsEdit)
                                            {
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" onchange="onChangeCheckBoxSelection(this)" name="LstFunction[@index].IsEdit" class="checkbox" value="true" checked />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" onchange="onChangeCheckBoxSelection(this)" name="LstFunction[@index].IsEdit" class="checkbox" value="false" />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
                                            }
                                            @if (Model.LstFunction[index].IsDelete)
                                            {
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" onchange="onChangeCheckBoxSelection(this)" name="LstFunction[@index].IsDelete" class="checkbox" value="true" checked />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" onchange="onChangeCheckBoxSelection(this)" name="LstFunction[@index].IsDelete" class="checkbox" value="false" />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
                                            }
                                            @if (Model.LstFunction[index].IsView)
                                            {
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" onchange="onChangeCheckBoxSelection(this)" name="LstFunction[@index].IsView" class="checkbox" value="true" checked />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" onchange="onChangeCheckBoxSelection(this)" name="LstFunction[@index].IsView" class="checkbox" value="false" />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn ladda-button btn-primary  " id="btnFrmRoleSubmit" data-style="expand-right">Save</button>

                <button type="button" class=" btn btn-outline-primary" data-dismiss="modal">Close</button>
            </div>
        </form>

    </div>
</div>
<script src="~/Scripts/Role/RoleViewModel.js"></script>
<script>
    preventFormSubmitOnEnterPress();
    if ($("#IsReadMode").val() == "true" || $("#IsReadMode").val() == "True") {
        disabledFormInputs("frmAddNewRole");
    }
</script>


