﻿@model FMS.Core.Models.PlanFeatureModel

<form role="form" method="post"
      id="frmAddNewPlanFeature"
      class="boxShadow"
      data-clear-form="false"
      data-post-type='ajax'
      action="/plan/updateplanfeature"
      data-success-method="PlanViewModel.updatePlanFeatureSuccess">
    @Html.EditorFor(x => x.PlanId, new { htmlAttributes = new { @class = "d-none" } })
    @Html.HiddenFor(x => x.CreatedBy, new {@id="dbPlanFeatureCreatedBy"})
    <div class="card-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @if (Model.LstFeature != null && Model.LstFeature.Count > 0)
                {
                    <div class="form-group" id="planFeatureCheckBoxList">
                        <div class="card">
                            <div class="card-body direct-content-scroll">
                                <div class="row">
                                    @for (var i = 0; i < Model.LstFeature.Count; i++)
                                    {
                                        <div class="col-md-6">
                                            <div class="form-check">
                                                @Html.HiddenFor(x => x.LstFeature[i].Id)
                                                @Html.HiddenFor(x => x.LstFeature[i].Name)
                                                <input class="form-check-input" type="checkbox"
                                                       name="@Html.NameFor(m => Model.LstFeature[i].IsChecked)"
                                                       id="@Html.IdFor(m =>Model.LstFeature[i].IsChecked)"
                                                       value="@(Model.LstFeature[i].IsChecked?"true":"false")"
                                                       onchange="onChangeCheckBoxSelection(this)"
                                                        @(Model.IsReadMode ?"disabled" : "")
                                                       @(Model.LstFeature[i].IsChecked ? "checked" : "")>
                                                <label class="form-check-label" for="feature">
                                                    @Model.LstFeature[i].Name
                                                </label>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="text-right margin-10 padding-bottom-20">
        <button type="submit" id="btn-frmAddNewPlanFeature-submit" class="d-none"></button>
        <button type="button" class="btn btn-cancel notDisabled" id="btnShowPlanModule" onclick="PlanViewModel.showView(this)" data-viewName="plan" data-divId="PlanModule">Cancel</button>
        <button type="button" id="btnSavePlanFeature" class=" ladda-button btn btn-info" data-style="expand-left" onclick="PlanViewModel.updatePlanFeature(this)" data-backPageBtnId="btnShowPlanModule">Submit</button>
    </div>
</form>