﻿@model FMS.Core.Models.PlanModel
@{
    string title = (Model != null && Model.Id == 0) ? "Add New Pricing Plan" : (Model != null && Model.IsReadMode) ? "View " + Model.Name : "Edit Pricing Plan";
    Layout = "~/Views/Shared/_LayoutSAAS.cshtml";
    var PortalUrl = FMS.App_Start.FMSConfigurationManager.PortalUrl;
    string buttonText = (Model != null && Model.IsReadMode) ? "View Features" : "Add Features";
}

<div id="content">
    <div class="panel panel-default">
        <div class=" panel-heading">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="box-title">@title</h3>
                </div>
            </div>
        </div>

        <!-- /.box-header -->
        <div class="panel-body">
            <div id="PlanModule" class="pricingWizard">
                <form role="form" method="post"
                      id="frmAddNewPlan"
                      data-clear-form="false"
                      data-post-type='ajax'
                      action="/plan/updatePlan"
                      data-success-method="PlanViewModel.updatePlanSuccess">
                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.IsReadMode)
                    @Html.HiddenFor(x => x.CreatedBy)
                    @Html.HiddenFor(x => x.ModifiedBy)
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="Name">Plan Name</label>
                                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @id = "PlanName" })
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="Price">Price</label>
                                    <div class="input-icon">
                                        @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
                                        <i>$</i>
                                    </div>
                                </div>

                               
                                <div class="form-group">
                                    <label for="Description">Plan Description</label>
                                    @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @rows = "5" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <br />
                                    <button type="button" class="btn btn-success notDisabled" onclick="PlanViewModel.showView(this)" data-viewName="planFeature" data-divId="PlanFeatureModule">
                                        @if (Model.IsReadMode)
                                        {
                                            <i class="fa fa-eye mr-1"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-plus mr-1"></i>
                                        }
                                        @buttonText
                                    </button>
                                </div>
                                <div class="form-group ">
                                    <div class="card featureCard">
                                        @if (Model.LstFeature != null && Model.LstFeature.Count > 0)
                                        {
                                            <div class="card-body boxShadow padding-20">
                                                @for (var i = 0; i < Model.LstFeature.Count; i++)
                                                {
                                                    <div class="form-check">
                                                        @Html.HiddenFor(x => x.LstFeature[i].Id)
                                                        @Html.HiddenFor(x => x.LstFeature[i].Name)
                                                        <input class="form-check-input" type="checkbox"
                                                               name="@Html.NameFor(m => Model.LstFeature[i].IsChecked)"
                                                               id="@Html.IdFor(m =>Model.LstFeature[i].IsChecked)"
                                                               value="@(Model.LstFeature[i].IsChecked?"true":"false")"
                                                               onchange="onChangeCheckBoxSelection(this)"
                                                               @(Model.LstFeature[i].IsChecked ? "checked" : "")>
                                                        <label class="form-check-label" for="feature">
                                                            @Model.LstFeature[i].Name
                                                        </label>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"
                                               name="@Html.NameFor(m => Model.IsDisplayOnPublicPage)"
                                               id="@Html.IdFor(m =>Model.IsDisplayOnPublicPage)"
                                               value="@(Model.IsDisplayOnPublicPage?"true":"false")"
                                               onchange="onChangeCheckBoxSelection(this)"
                                               @(Model.IsDisplayOnPublicPage ? "checked" : "")>
                                        <label class="form-check-label" for="feature">
                                            Display on Public Page
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right margin-10">
                        <button type="submit" id="btn-frmAddNewPlan-submit" class="d-none"></button>
                        <a href="@PortalUrl/plan/index" class="btn btn-cancel notDisabled">Cancel</a>
                        <button type="button" id="btnSavePlan" class=" ladda-button btn btn-info" data-style="expand-right" onclick="PlanViewModel.updatePlan(this)" data-formId="frmAddNewPlan">Submit</button>
                    </div>
                </form>
            </div>

            <div id="PlanFeatureModule" class="d-none pricingWizard">
                @{Html.RenderAction("PlanFeature", "Plan", new { planId = Model.Id, isReadMode = Model.IsReadMode });}
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>

<!-- #region scripts -->
@section Scripts
    {
    <script src="~/Scripts/Plan/PlanViewModel.js"></script>
    <script>
        $(document).ready(function () {
              var isReadMode =@Html.Raw(Json.Encode(Model.IsReadMode));
            if (isReadMode) {
                disabledFormInputs("frmAddNewPlan");
                disabledFormInputs("frmAddNewPlanFeature");
            }
            PlanViewModel.activeWizardName = "plan";
        });

    </script>
}
<!-- #endregion -->