﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="widget-group row">
    <div class="col-12">
        <div class="card">
            <!-- card-header -->
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <span class="h5 border-right-1 pr-2 marketing-header"><i class="icon-truck-fast"></i>Pricing Plans</span>
                    </div>
                    <div class="col col text-right">
                        <button class="btn btn-primary" id="btnAddPlan" onclick="PlanViewModel.openPlanModel(0)">
                           Pricing Plan <i class="fa fa-plus mr-1"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <!-- card-body -->
            <div class="card-body">
                <table id="tblPlan" class="table table-bordered table-hover dt-responsive nowrap" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th data-class="expand">
                                <div class="table-header">
                                    <span class="column-title">Name</span>
                                </div>
                            </th>
                            <th data-hide="phone">
                                <div class="table-header">
                                    <span class="column-title">Price</span>
                                </div>
                            </th>
                            <th data-hide="phone">
                                <div class="table-header">
                                    <span class="column-title"># of Features</span>
                                </div>
                            </th>
                            <th data-class="expand">
                                <div class="table-header">
                                    <span class="column-title">Plan Length In Days</span>
                                </div>
                            </th>
                            <th data-class="expand">
                                <div class="table-header">
                                    <span class="column-title">Active</span>
                                </div>
                            </th>
                            <th width="30px">
                                <div class="table-header">
                                    <span class="column-title">Actions</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>

            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

<!-- #region scripts -->
@section Scripts
    {
    <script src="~/Scripts/Plan/PlanViewModel.js"></script>
    <script>
        PlanViewModel.planListView();
    </script>
}
<!-- #endregion -->