﻿@model FMS.Core.Models.IngredientsModel
@{
    Layout = null;
}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title marketing-header">@ViewBag.Header</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form method="post"
              id="frmAddNewIngredient"
              data-clear-form="false"
              data-post-type='ajax'
              action="/Ingredient/AddIngredient"
              data-success-method="IngredientViewModel.updateIngredientSuccess">
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.IsDeleted)
            @Html.HiddenFor(x => x.IsReadMode)
            <div class="card-body pl-5 pr-5">

                <div class="row mb-3">
                    <label for="Name">Ingredient Name</label><span class="text-required"> *</span>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
                <div class="row mb-3">
                    <label for="Name">Ingredient Calorie</label>
                    @Html.TextBoxFor(x => x.Calorie, new { @class = "form-control" })
                </div>
                <div class="row mb-3">
                    <label for="Name">Ingredient Fats</label>
                    @Html.TextBoxFor(x => x.Fats, new { @class = "form-control" })
                </div>
                <div class="row mb-3">
                    <label for="Name">Ingredient Carbs</label>
                    @Html.TextBoxFor(x => x.Carbs, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Carbs, "", new { @class = "text-danger" })
                </div>
                <div class="row mb-3">
                    <label for="Name">Ingredient Units</label>
                    @Html.TextBoxFor(x => x.Units, new { @class = "form-control" })
                </div>
                <div class="row mb-3">
                    <label for="Name">Ingredient Protein</label>
                    @Html.TextBoxFor(x => x.Protein, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Protein, "", new { @class = "text-danger" })
                </div>
                <div class="row mb-3">
                    <label for="Name">Ingredient Fiber</label>
                    @Html.TextBoxFor(x => x.Fiber, new { @class = "form-control" })
                </div>
                <div class="row mb-3">
                    <label for="Name">Ingredient Sugar</label>
                    @Html.TextBoxFor(x => x.Sugar, new { @class = "form-control" })
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn ladda-button btn-primary  " id="btnFrmIngredientSubmit" data-style="expand-right">Save</button>
                <button type="button" class=" btn btn-outline-primary" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>
<script src="~/Scripts/Ingredient/IngredientViewModel.js" asp-append-version="true"></script>
<script>
    preventFormSubmitOnEnterPress();
    if ($("#IsReadMode").val() == "true" || $("#IsReadMode").val() == "True") {
        disabledFormInputs("frmAddNewIngredient");
    }
</script>


