﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="widget-group row">
    <div class="col-12">
        <div class="card">
            <!-- card-header -->
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <span class="h5 border-right-1 pr-2 marketing-header"><i class="icon-truck-fast"></i>Ingredients</span>
                    </div>
                    <div class="col col text-right">
                        <button class="btn btn-primary" id="btnAddRole" onclick="IngredientViewModel.openIngredientModal('0',false)"> Ingredient <i class="fas fa-plus"></i> </button>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <!-- card-body -->
            <div class="card-body">
                <table id="tblIngredient" class="table table-bordered table-hover dt-responsive nowrap" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th data-class="expand">
                                <div class="table-header">
                                    <span class="column-title">Ingredient Name</span>
                                </div>
                            </th>
                            <th data-class="expand">
                                <div class="table-header">
                                    <span class="column-title">Calorie</span>
                                </div>
                            </th>
                            <th data-class="expand">
                                <div class="table-header">
                                    <span class="column-title">Fats</span>
                                </div>
                            </th>
                            <th data-class="expand">
                                <div class="table-header">
                                    <span class="column-title">Fiber</span>
                                </div>
                            </th>
                            <th width="30px">
                                <div class="table-header">
                                    <span class="column-title">Action</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

<!-- /.content -->
<!-- #endregion -->
<!-- #region scripts -->
@section Scripts
    {
    <script src="~/Scripts/Ingredient/IngredientViewModel.js" asp-append-version="true"></script>
    <script>
        IngredientViewModel.IngredientListView();
    </script>
}
<!-- #endregion -->
