﻿@model FMS.Core.Models.NewsModel
@{
    ViewBag.Title = "Index";
    Layout = null;
    string PortalUrl = FMS.App_Start.FMSConfigurationManager.PortalUrl;
}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title marketing-header">@ViewBag.Header</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeCommanModalWithTinyMce()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form method="post"
              id="frmAddNewNews"
              data-clear-form="false"
              data-post-type='ajax'
              action="/news/add"
              data-success-method="NewsViewModel.updateNewsSuccess">
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.IsDeleted)
            @Html.HiddenFor(x => x.IsReadMode, new { @id = "dbIsReadMode", @value = Model.IsReadMode })
            <div class="card-body pl-5 pr-5">
                <div class="row mb-3">
                    <label for="Title">Title</label><span class="text-required"> *</span>
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                </div>
                <div class="row mb-3">
                    <label for="Name">Publish Date</label>
                    @Html.TextBoxFor(x => x.PublishDate, new { @class = "form-control" })

                    @Html.ValidationMessageFor(m => m.PublishDate, "", new { @class = "text-danger" })
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <label for=" Description" class=" mr-3">Description </label>
                        @if (Model.IsReadMode)
                        {
                            <div class="emailBodyEditor" disabled>
                                @Html.Raw(HttpUtility.HtmlDecode(Model.Description))
                            </div>
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.Description, new { @class = "form-control tinymceEditor", @id = "txtNewsDescription" })
                        }

                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-label-group mb-4 col-sm-12">
                        <label class=" ">Attachment</label><span class="text-required"> *</span>
                        @Html.EditorFor(m => m.AttachmentId, new { htmlAttributes = new { @class = "d-none" } })
                        @Html.ValidationMessageFor(m => m.AttachmentId)

                        <!-- Drop Zone Start here -->
                        @if (Model.IsReadMode != true)
                        {
                            <div class="dropzone dropzone-area  LogoAttachment"
                                 id="dropzoneLogoAttachment-image"
                                 data-url="/Attachment/UploadAttachment"
                                 data-deleteAttachedImage="true"
                                 data-delete-function-attribute-name="attachmentId"
                                 data-destination-control="AttachmentId"
                                 data-attachment-id="@Model.AttachmentId"
                                 data-purpose="LogoAttachment"
                                 data-attachment-container="LogoAttachmentFilesContainer"
                                 data-file-type="image">
                                <i class="material-icons text-muted"></i>
                                <div class="dz-message">
                                    <div><img src='@PortalUrl/Content/images/Upload.svg' class='width8 cursorPointer' /></div>
                                    <div class="font-weight-bold text-muted">Drag and drop file here</div>
                                    <div class="mb-1 mt-n1 text-muted"><small>OR</small></div>
                                    <div class="font-weight-bold"><span class="browse-file-btn px-2 py-1">Browse File</span></div>
                                    <div class="text-muted"><span class="browse-file-btn px-2 py-1">Max Size 1 MB</span></div>
                                    <div class="text-muted"><span class="browse-file-btn px-2 py-1">Accepts only Image</span></div>
                                </div>
                            </div>
                            <div class="form-group" id="LogoAttachmentFilesContainer">
                                @if (Model.AttachmentId > 0 && !string.IsNullOrEmpty(Model.Image))
                                {


                                    <div class="row margin-left-0 margin-right-0" id="attachmentFile@(Model.AttachmentId)">
                                        <div class="col-xl-10 col-md-8 col-xs-8 text-left">
                                            <i class="fa fa-file text-success"></i>
                                            <a class="title attachmentFile" data-attachment-id="@Model.AttachmentId" onclick="ImagePreview('@Model.AttachmentId')">@Model.Attachment.FileName</a>
                                        </div>
                                        <div class=" d-none">
                                            <div class="col-xl-2 col-md-4 col-xs-4 text-right">
                                                <a class="btn btn-default"
                                                   id="attachmentFile-@(Model.AttachmentId)" style="cursor:pointer;"
                                                   data-attachment-controlId="AttachmentId"
                                                   onclick="DeleteSingleAttachment(this)"
                                                   data-attribute-name="attachmentId"
                                                   data-purpose="LogoAttachment"
                                                   data-destination-control="dropzoneLogoAttachment-image"
                                                   data-name="attachment."
                                                   data-attachment-id="@(Model.AttachmentId)"
                                                   title="delete file"><i class="fas fa-trash-alt text-danger"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                }
                            </div>
                        }

                        else
                        {
                            <div class="row">
                                <div class="col-xl-10 col-md-8 col-xs-8 text-left">
                                    <img src="@Model.Image" class="imgSize">
                                </div>
                            </div>
                        }

                        <!-- Drop Zone end here -->
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary d-none" id="btnFrmNewsSubmit">Save</button>
                    <button type="button" id="btnfrmAddNewNewsSubmit" onclick="NewsViewModel.beforeSubmit(this)" class="btn btn-primary ">Save</button>
                    <button type="button" class=" btn btn-outline-primary" data-dismiss="modal" onclick="closeCommanModalWithTinyMce()">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/Scripts/News/NewsViewModel.js"></script>
<script>
    InitilizeTinyMceEditor();
    preventFormSubmitOnEnterPress();
    $(document).ready(function () {
        AllowEnterInTextArea();
        if ($("#dbIsReadMode").val() == "true" || $("#dbIsReadMode").val() == "True") {
            disabledFormInputs("frmAddNewNews");
        }
        else {
            //remove the tinymce instances that alraedy exist
            RemoveExistingTinymceInstances();
            initTinyMCE("#txtNewsDescription");
        }
        //DropZone

        InitilizefileUploaderById("dropzoneLogoAttachment-image");

        if ($("#IsReadMode").val() == "true" || $("#IsReadMode").val() == "True") {
            disabledFormInputs("frmAddNewNews");
        }
    });
</script>
