﻿@model FMS.Core.Models.UserDetailModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string PortalUrl = FMS.App_Start.FMSConfigurationManager.PortalUrl;
}

<div class="card">
    <!-- card-header -->
    <div class="card-header">
        <div class="row">
            <div class="col">
                <span class="h5 border-right-1 pr-2 marketing-header"><i class="icon-truck-fast"></i>User Detail</span>
            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <!-- card-body -->
    <form method="post"
          id="frmAddNewProfile"
          data-clear-form="false"
          data-post-type='ajax'
          action="/profile/add"
          data-success-method="ProfileViewModel.updateProfileSuccess">
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.UserId)
        @Html.HiddenFor(x => x.IsDeleted)
        @Html.HiddenFor(x => x.IsActive)

        @Html.HiddenFor(x => x.IsReadMode)
        <div class="card-body">
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">First Name</label>
                <div class="form-label-group mb-4 col-sm-10">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Last Name</label>
                <div class="form-label-group mb-4 col-sm-10">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Address</label>
                <div class="form-label-group mb-4 col-sm-10">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Phone</label>
                <div class="form-label-group mb-4 col-sm-10">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Pin Code</label>
                <div class="form-label-group mb-4 col-sm-10">
                    @Html.TextBoxFor(m => m.PinCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PinCode, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Profile Image</label>
                <div class="form-label-group mb-4 col-sm-10">
                    @Html.EditorFor(m => m.ProfilePicId, new { htmlAttributes = new { @class = "d-none" } })
                    @Html.ValidationMessageFor(m => m.ProfilePicId)

                    <!-- Drop Zone Start here -->
                    <div class="dropzone dropzone-area  LogoAttachment"
                         id="dropzoneLogoAttachment-image"
                         data-url="/Attachment/UploadAttachment"
                         data-deleteAttachedImage="true"
                         data-delete-function-attribute-name="attachmentId"
                         data-destination-control="ProfilePicId"
                         data-attachment-id="@Model.ProfilePicId"
                         data-purpose="LogoAttachment"
                         data-attachment-container="LogoAttachmentFilesContainer"
                         data-file-type="image">
                        <i class="material-icons text-muted"></i>
                        <div class="dz-message">
                            <div><img src='@PortalUrl/Content/images/Upload.svg' class='width8 cursorPointer' /></div>
                            <div class="font-weight-bold text-muted">Drag and drop file here</div>
                            <div class="mb-1 mt-n1 text-muted"><small>OR</small></div>
                            <div class="font-weight-bold"><span class="browse-file-btn px-2 py-1">Browse File</span></div>
                            <div class="text-muted"><span class="browse-file-btn px-2 py-1">Max Size 1 MB</span></div>
                            <div class="text-muted"><span class="browse-file-btn px-2 py-1">Accepts only Image</span></div>
                        </div>
                    </div>
                    <div class="form-group" id="LogoAttachmentFilesContainer">
                        @if (Model.ProfilePicId != null && !string.IsNullOrEmpty(Model.ProfilePic))
                        {
                            <div class="row margin-left-0 margin-right-0 margin-bottom-5 margin-top-10" id="attachmentFile@(Model.ProfilePicId)">
                                <div class="col-xl-10 col-md-8 col-xs-8 text-left">
                                    <i class="fa fa-file text-success"></i>
                                    <a class="title attachmentFile" data-attachment-id="@Model.ProfilePicId" onclick="ImagePreview('@Model.ProfilePicId')">@Model.FileName</a>
                                </div>
                                <div class="col-xl-2 col-md-4 col-xs-4 text-right">
                                    <a class="btn btn-default"
                                       id="attachmentFile-@(Model.ProfilePicId)" style="cursor:pointer;"
                                       data-attachment-controlId="ProfilePicId"
                                       onclick="DeleteSingleAttachment(this)"
                                       data-attribute-name="attachmentId"
                                       data-purpose="LogoAttachment"
                                       data-destination-control="dropzoneLogoAttachment-image"
                                       data-name="profile picture."
                                       data-attachment-id="@(Model.ProfilePicId)"
                                       title="delete file"><i class="fas fa-trash-alt text-danger"></i></a>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- Drop Zone end here -->
                </div>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" id="btnAddProfile" class="btn btn-primary float-right mb-3">Save</button>
        </div>

    </form>

    <!-- /.card-body -->
</div>
<!-- /.content -->
<!-- #region scripts -->
@section Scripts
            {
    <script src="~/Scripts/Profile/ProfileViewModel.js"></script>
    <script>
        PostData("/account/getuserpermission?path=" + current_path + "&userRoles=" + current_role, ProfileViewModel.ProfileListView);
        $(document).ready(function () {
            InitilizefileUploaderById("dropzoneLogoAttachment-image");

        });
    </script>
}
<!-- #endregion -->
