﻿@model FMS.Core.Models.ContactUsModel
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/Content/images/landing/xbg_1.jpg');">
        <div class="overlay"></div>
        <div class="container">
        </div>
    </section>
    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container-xl-fluid">
            <div class="row no-gutters justify-content-center">
                <div class="col-md-12">
                    <div class="wrapper">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="contact-wrap w-100 p-md-5 p-4">
                                    <h3>Contact us</h3>
                                    <p class="mb-4">We're open for any suggestion or just to have a chat</p>
                                    <div class="row mb-4">
                                        <div class="col-md-4">
                                            <div class="dbox w-100 d-flex align-items-start">
                                                <div class="text">
                                                    <p><span>Address:</span>@ViewBag.ClientInformation.Address</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="dbox w-100 d-flex align-items-start">
                                                <div class="text">
                                                    <p><span>Email:</span> <span>@ViewBag.ClientInformation.Email</span></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="dbox w-100 d-flex align-items-start">
                                                <div class="text">
                                                    <p><span>Phone:</span> <a href="tel://1234567920">@ViewBag.ClientInformation.Phone</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <form method="post"
                                          id="frmSendEmail"
                                          data-clear-form="false"
                                          data-post-type='ajax'
                                          action="/landing/sendemail"
                                          data-ladda-button="btnFrmSendEmail"
                                          data-success-method="TraineeViewModel.sendEmailSuccess">
                                        @Html.HiddenFor(x => x.OwnerId)
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="Name">Name</label><font color="red">*</font>
                                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger", @style = "color:red" })
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="Name">Email</label><font color="red">*</font>
                                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", @style = "color:red" })
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label for="Name">Phone</label><font color="red">*</font>
                                            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger", @style = "color:red" })
                                        </div>
                                        <div class="col-md-12">
                                            <label for="Name">Subject</label>
                                            @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-12">
                                            <label for="Name">Message</label>
                                            @Html.TextAreaFor(x => x.Message, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary ladda-button mt-5" id="btnFrmSendEmail" data-style="expand-right">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-stretch">
                                <div id="map" class="bg-white"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
@section Scripts
    {
    <script src="~/Scripts/Trainee/TraineeViewModel.js" asp-append-version="true"></script>
    <script>
        preventFormSubmitOnEnterPress();
    </script>
}








