﻿@model FMS.Core.Models.LookUpDomainValueModel
@{

    Layout = null;

}
<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title marketing-header">@ViewBag.Header</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form method="post"
              id="frmAddNewSetting"
              data-clear-form="false"
              data-post-type='ajax'
              action="/settings/add"
              data-success-method="SettingViewModel.updateSettingSuccess">
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.DomainId)
            @Html.HiddenFor(x => x.IsDeleted)
            
            @Html.HiddenFor(x => x.IsReadMode)
            <div class="card-body pl-5 pr-5">

                <div class="row">
                    <label for="Name">Setting Name</label>
                    @Html.TextBoxFor(x => x.DomainValue, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.DomainValue, "", new { @class = "text-danger" })
                </div>
                <div class="row mt-3">
                    <label for="Name">Setting Value</label>
                    @Html.TextBoxFor(x => x.DomainText, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.DomainText, "", new { @class = "text-danger" })
                </div>
                @if (Model.Id > 0)
                {
                    <div class="row mt-2">
                        <label for="chkStatus">Active :</label>
                        <div class="col-sm-1">
                            @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-check-input" })
                        </div>
                    </div>
                }
                else
                {
                    @Html.HiddenFor(x => x.IsActive)
                }
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class=" btn btn-outline-primary" data-dismiss="modal">Close</button>
            </div>
        </form>

    </div>
</div>
<script>
    preventFormSubmitOnEnterPress();
    if ($("#IsReadMode").val() == "true" || $("#IsReadMode").val() == "True") {
        disabledFormInputs("frmAddNewSetting");
    }
</script>

