﻿@model FMS.Core.Models.Stripe.StripeCustomerCardDetailModel
@{
   Layout = null;
}
<!-- .modal-dialog -->
<div class="modal-dialog modal-lg " id="customerModalPopup">
    <!-- .modal-content -->
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title">Purchase @Model.PlanName</h6>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>

        </div>
        <div class="modal-body">

            <form id="frmAddpaymentdetails" action="" method="post" class="smart-form">
                <input type="hidden" id="stripe-publishableKey" value="@FMS.App_Start.FMSConfigurationManager.DevStripePubliCKey" />
                <input type="hidden" id="card-token" />

                <fieldset>
                    <section>
                        <div class="row mt-3">
                            <label class="label col col-2"> @Html.Label("Price")</label>
                            <div class="col col-10">
                                @Html.TextBoxFor(x => x.Charge, new { @class = "form-control", @readonly = "readonly" ,@id = "Price"})
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row mt-3">
                            <label class="label col col-2"> @Html.Label("Card Number")</label>
                            <div class="col col-10">
                                @Html.HiddenFor(x => x.UserId, new { @id = "Subsciption-UserId" })
                                @Html.HiddenFor(x => x.PlanId, new { @id = "Subsciption-PlanId" })

                                @Html.TextBoxFor(x => x.CardNumber, new { @class = "form-control", @maxlength = "16" })
                                <span class="field-validation-error card-val" data-valmsg-replace="true" style="display: none;">
                                    <span id="txtCardNumber-error" class="text-required">Valid Card Required</span>
                                </span>
                                <span class="field-validation-error card-val" data-valmsg-for="CardNumber" data-valmsg-replace="true" style="display: none;">
                                    <span id="txtCVC-error" class="text-required">CardNumber is required</span>
                                </span>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row mt-3">
                            <label class="label col col-2"> @Html.Label("Expiry Month(MM)")</label>
                            <div class="col col-10">
                                @{
                                    List<SelectListItem> listItems = new List<SelectListItem>();
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "01-January",
                                        Value = "01"
                                    });
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "02-February",
                                        Value = "02",

                                    });
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "03-March",
                                        Value = "03"
                                    });
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "04-April",
                                        Value = "04"
                                    });
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "05-May",
                                        Value = "05"
                                    });
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "06-June",
                                        Value = "06"
                                    });
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "07-July",
                                        Value = "07"
                                    });
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "08-August",
                                        Value = "08"
                                    });
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "09-September",
                                        Value = "09"
                                    });
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "10-October",
                                        Value = "10"
                                    });
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "11-November",
                                        Value = "11"
                                    });
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "12-December",
                                        Value = "12"
                                    });
                                }

                                @Html.DropDownListFor(x => x.ExpirationMonth, listItems, "Select Month", new { @class = "form-control valid" })
                                <span class="field-validation-error expiryMonth-val" data-valmsg-replace="true" style="display: none;">
                                    <span id="txtExpiryMonth-error" class="text-required">Invalid ExpiryMonth</span>
                                </span>
                                <span class="field-validation-error" data-valmsg-for="ExpirationMonth" data-valmsg-replace="true" style="display: none;">
                                    <span id="txtExpiryMonth-error" class="text-required">ExpriyMonth is required</span>
                                </span>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row mt-3">
                            <label class="label col col-2"> @Html.Label("Expiry Year(YY)")</label>
                            <div class="col col-10">
                                @{
                                    List<SelectListItem> lst = new List<SelectListItem>();
                                    int yearStart = DateTime.UtcNow.Year;
                                    for (int i = 0; i < 10; i++)
                                    {
                                        lst.Add(new SelectListItem
                                        {
                                            Text = yearStart.ToString(),
                                            Value = yearStart.ToString()
                                        });
                                        yearStart++;
                                    }
                                }
                                @Html.DropDownListFor(x => x.ExpirationYear, lst, "Select Year", new { @class = "form-control valid" })
                                <span class="field-validation-error expiryYear-val" data-valmsg-replace="true" style="display: none;">
                                    <span id="txtExpiryYear-error" class="text-required">Invalid ExpiryYear</span>
                                </span>
                                <span class="field-validation-error" data-valmsg-for="ExpirationYear" data-valmsg-replace="true" style="display: none;">
                                    <span id="txtExpiryYear-error" class="text-required">ExpiryYear is required</span>
                                </span>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row mt-3">
                            <label class="label col col-2"> @Html.Label("CVC")</label>
                            <div class="col col-10">
                                @Html.TextBoxFor(x => x.Cvc, new { @class = "form-control", @maxlength = "4" })
                                <span class="field-validation-error cvv-val" data-valmsg-replace="true" style="display: none;">
                                    <span id="txtCVC-error" class="text-required">Please enter numeric value for CVV number</span>
                                </span>
                                <span class="field-validation-error" data-valmsg-for="Cvc" data-valmsg-replace="true" style="display: none;">
                                    <span id="txtCVC-error" class="text-required">CVC is required</span>
                                </span>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row mt-3">
                            <span class="label payment-errors" style="color: red; text-align: center;"></span>
                        </div>
                    </section>
                </fieldset>

            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary ladda-button save-btn" data-style="expand-left" data-size="l" onclick="SubscriptionViewModel.savePayementByCash()" id="btn-ChargeSubscriptionByCash">
                    <span class="ladda-label">Pay Cash</span>
                </button>
                <button type="button" class="btn btn-primary ladda-button save-btn" data-style="expand-left" data-size="l" onclick="SubscriptionViewModel.saveClientCard()" id="btn-ChargeSubscription">
                    <span class="ladda-label">Purchase Subscription</span>
                </button>
                <button type="button" class=" btn btn-outline-primary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
<script src="~/Scripts/Subscription/SubscriptionViewModel.js " asp-append-version="true">
</script>
<script>
    $(document).ready(function () {
        InitCustomDropdown();
    });
    preventFormSubmitOnEnterPress();
</script>


