﻿@model FMS.Core.Models.SubscriptionViewModel
@{
    //if user has already subscribed for a plan then disable subscription button for all the plans
    //var hasUserSelectedPlan = Model.paymentPlans.Any(x => x.IsActive) ? "disabled" : "";
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int paymentCount = 2;
}

<!-- MAIN CONTENT -->
<div>
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!--card section start-->
        <div class="row margin-top-30" id="subscription-pricePanel">
            <!--card-1 section start-->
            @foreach (var plan in Model.paymentPlans)
            {
                var @paymentPlanClass = "well-info";
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class=" panel panel-default text-center mt-5 mb-5">
                        @if (paymentCount % 2 == 0)
                        {
                            paymentPlanClass = "well-info";
                        }
                        @if (paymentCount % 3 == 0)
                        {
                            paymentPlanClass = "well-success";
                        }

                        @if (paymentCount % 4 == 0)
                        {
                            paymentPlanClass = "well-secondary";
                        }
                        @{paymentCount++; }
                        <div class="panel-body">
                            @if (plan.IsActive)
                            {
                                <div class="well well-sm @paymentPlanClass">
                                    <a href="JavaScript:Void(0);" class="whiteButtonText">
                                        <div class="font-lg">@plan.Name</div>
                                        <div class="price-text">$@plan.Price</div>
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="well well-sm @paymentPlanClass" onclick="SubscriptionViewModel.openSubscriptionChargeModal('@plan.Id')">
                                    <a href="JavaScript:Void(0);" class="whiteButtonText">
                                        <div class="font-lg">@plan.Name</div>
                                        <div class="price-text">$@plan.Price</div>
                                    </a>
                                </div>
                            }

                            <br />
                            <div>
                                @if (plan.IsActive)
                                {
                                    <button onclick="SubscriptionViewModel.openCancelSubscriptionModal('@plan.Id')"
                                            id="subscription-modal-button" class="btn btn-default btn-block ladda-button well-sm" data-style="expand-left">
                                        Cancel <span> Subscription</span>
                                    </button>
                                    <br />
                                }
                                else
                                {
                                    <button onclick="SubscriptionViewModel.openSubscriptionChargeModal('@plan.Id')"
                                            id="subscription-modal-button" class="btn btn-primary btn-block ladda-button @paymentPlanClass" data-style="expand-left">
                                        <b class="font-size22 ">Purchase <span> Now!</span></b>
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!--/card-1 end-->
            }

        </div>
        <!--/card section end-->

    </article>
    <div class="widget-group row">
        <div class="col-12">
            <div class="card">
                <!-- card-header -->
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <span class="h5 border-right-1 pr-2 marketing-header"><i class="icon-truck-fast"></i>Payment History</span>
                        </div>
                        @*<div class="col col text-right">
                                <button class="btn btn-primary" id="btnAddRole" onclick="IngredientViewModel.openIngredientModal('0',false)"> Ingredient <i class="fas fa-plus"></i> </button>
                            </div>*@
                    </div>
                </div>
                <!-- /.card-header -->
                <!-- card-body -->
                <div class="card-body">
                    <table id="tblIngredient" class="table table-bordered table-hover dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th data-class="expand">
                                    <div class="table-header">
                                        <span class="column-title">Paid Price</span>
                                    </div>
                                </th>
                                <th data-class="expand">
                                    <div class="table-header">
                                        <span class="column-title">Payment Mode</span>
                                    </div>
                                </th>
                                <th data-class="expand">
                                    <div class="table-header">
                                        <span class="column-title">Payment Status</span>
                                    </div>
                                </th>
                                <th data-class="expand">
                                    <div class="table-header">
                                        <span class="column-title">Payment Date</span>
                                    </div>
                                </th>

                                <th width="30px">
                                    <div class="table-header">
                                        <span class="column-title">Action</span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
@section Scripts {
    <script src="https://js.stripe.com/v2/"></script>
    <script src="~/Scripts/Subscription/SubscriptionViewModel.js " asp-append-version="true">
    </script>
    <script>
        SubscriptionViewModel.IngredientListView();
    </script>

}
